@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Variables de fuentes*/
:root{
  --fuentetitulos : 'Roboto', sans-serif;
  --fuentetextos : 'Open Sans', sans-serif;
}

body{
  background-color: #2D3748;
}

/*Estilos imagen y contenedor*/

.img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.img-container img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-top: 50px;
}

/*Estilos developer info*/

.developer-information{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.developer-information h1{
  color: #EFEFEF;
  font-family: var(--fuentetitulos);
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.developer-information p{
  width: 450px;
  text-align: center;
  font-size: 17.5px;
  color: #EFEFEF;
  letter-spacing: 0.4px;
  font-family: var(--fuentetextos);
}

/*Estilos Logos*/

.contenedor-logos{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 37px;
  margin-top: 10px;
}

.contenedor-logos img{
  width: 40px;
  user-select: none;
}


/*Animacion Logo*/
.contenedor-logos img:hover{
  transform: scale(1.3);
  transition: transform 0.2s linear;
  transform : translateY(-6px);
  cursor: pointer;
  
}

/*Mobile*/
@media screen and (max-width: 430px){
  .developer-information h1{
    color: #EFEFEF;
    font-family: var(--fuentetitulos);
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
  }

  .developer-information p{
    width: 80%;
    text-align: center;
    font-size: 17.5px;
    color: #EFEFEF;
    letter-spacing: 0.4px;
    font-family: var(--fuentetextos);
  }
  
  .contenedor-logos img{
    width: 28px;
    user-select: none;
  }

  
}